switch.mdb-color-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #d0d6e2; }
switch.mdb-color-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #b1bace; }
switch.mdb-color-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #929fba; }
switch.mdb-color-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #7283a7; }
switch.mdb-color-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #59698d; }
switch.mdb-color-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #45526e; }
switch.mdb-color-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #3b465e; }
switch.mdb-color-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #2e3951; }
switch.mdb-color-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #1c2a48; }
switch.mdb-color-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #1c2331; }

switch.red-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffebee; }
switch.red-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffcdd2; }
switch.red-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ef9a9a; }
switch.red-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #e57373; }
switch.red-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ef5350; }
switch.red-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #f44336; }
switch.red-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #e53935; }
switch.red-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #d32f2f; }
switch.red-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #c62828; }
switch.red-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #b71c1c; }
switch.red-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff8a80; }
switch.red-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff5252; }
switch.red-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff1744; }
switch.red-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #d50000; }

switch.pink-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #fce4ec; }
switch.pink-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #f8bbd0; }
switch.pink-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #f48fb1; }
switch.pink-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #f06292; }
switch.pink-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ec407a; }
switch.pink-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #e91e63; }
switch.pink-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #d81b60; }
switch.pink-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #c2185b; }
switch.pink-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ad1457; }
switch.pink-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #880e4f; }
switch.pink-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff80ab; }
switch.pink-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff4081; }
switch.pink-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #f50057; }
switch.pink-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #c51162; }

switch.purple-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #f3e5f5; }
switch.purple-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #e1bee7; }
switch.purple-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ce93d8; }
switch.purple-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ba68c8; }
switch.purple-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ab47bc; }
switch.purple-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #9c27b0; }
switch.purple-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #8e24aa; }
switch.purple-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #7b1fa2; }
switch.purple-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #6a1b9a; }
switch.purple-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #4a148c; }
switch.purple-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ea80fc; }
switch.purple-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #e040fb; }
switch.purple-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #d500f9; }
switch.purple-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #aa00ff; }

switch.deep-purple-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ede7f6; }
switch.deep-purple-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #d1c4e9; }
switch.deep-purple-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #b39ddb; }
switch.deep-purple-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #9575cd; }
switch.deep-purple-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #7e57c2; }
switch.deep-purple-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #673ab7; }
switch.deep-purple-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #5e35b1; }
switch.deep-purple-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #512da8; }
switch.deep-purple-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #4527a0; }
switch.deep-purple-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #311b92; }
switch.deep-purple-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #b388ff; }
switch.deep-purple-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #7c4dff; }
switch.deep-purple-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #651fff; }
switch.deep-purple-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #6200ea; }

switch.indigo-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #e8eaf6; }
switch.indigo-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #c5cae9; }
switch.indigo-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #9fa8da; }
switch.indigo-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #7986cb; }
switch.indigo-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #5c6bc0; }
switch.indigo-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #3f51b5; }
switch.indigo-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #3949ab; }
switch.indigo-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #303f9f; }
switch.indigo-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #283593; }
switch.indigo-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #1a237e; }
switch.indigo-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #8c9eff; }
switch.indigo-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #536dfe; }
switch.indigo-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #3d5afe; }
switch.indigo-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #304ffe; }

switch.blue-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #e3f2fd; }
switch.blue-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #bbdefb; }
switch.blue-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #90caf9; }
switch.blue-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #64b5f6; }
switch.blue-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #42a5f5; }
switch.blue-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #2196f3; }
switch.blue-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #1e88e5; }
switch.blue-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #1976d2; }
switch.blue-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #1565c0; }
switch.blue-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #0d47a1; }
switch.blue-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #82b1ff; }
switch.blue-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #448aff; }
switch.blue-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #2979ff; }
switch.blue-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #2962ff; }

switch.light-blue-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #e1f5fe; }
switch.light-blue-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #b3e5fc; }
switch.light-blue-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #81d4fa; }
switch.light-blue-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #4fc3f7; }
switch.light-blue-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #29b6f6; }
switch.light-blue-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #03a9f4; }
switch.light-blue-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #039be5; }
switch.light-blue-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #0288d1; }
switch.light-blue-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #0277bd; }
switch.light-blue-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #01579b; }
switch.light-blue-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #80d8ff; }
switch.light-blue-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #40c4ff; }
switch.light-blue-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #00b0ff; }
switch.light-blue-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #0091ea; }

switch.cyan-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #e0f7fa; }
switch.cyan-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #b2ebf2; }
switch.cyan-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #80deea; }
switch.cyan-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #4dd0e1; }
switch.cyan-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #26c6da; }
switch.cyan-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #00bcd4; }
switch.cyan-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #00acc1; }
switch.cyan-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #0097a7; }
switch.cyan-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #00838f; }
switch.cyan-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #006064; }
switch.cyan-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #84ffff; }
switch.cyan-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #18ffff; }
switch.cyan-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #00e5ff; }
switch.cyan-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #00b8d4; }

switch.teal-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #e0f2f1; }
switch.teal-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #b2dfdb; }
switch.teal-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #80cbc4; }
switch.teal-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #4db6ac; }
switch.teal-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #26a69a; }
switch.teal-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #009688; }
switch.teal-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #00897b; }
switch.teal-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #00796b; }
switch.teal-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #00695c; }
switch.teal-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #004d40; }
switch.teal-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #a7ffeb; }
switch.teal-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #64ffda; }
switch.teal-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #1de9b6; }
switch.teal-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #00bfa5; }

switch.green-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #e8f5e9; }
switch.green-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #c8e6c9; }
switch.green-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #a5d6a7; }
switch.green-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #81c784; }
switch.green-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #66bb6a; }
switch.green-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #4caf50; }
switch.green-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #43a047; }
switch.green-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #388e3c; }
switch.green-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #2e7d32; }
switch.green-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #1b5e20; }
switch.green-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #b9f6ca; }
switch.green-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #69f0ae; }
switch.green-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #00e676; }
switch.green-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #00c853; }


switch.light-green-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #f1f8e9; }
switch.light-green-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #dcedc8; }
switch.light-green-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #c5e1a5; }
switch.light-green-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #aed581; }
switch.light-green-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #9ccc65; }
switch.light-green-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #8bc34a; }
switch.light-green-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #7cb342; }
switch.light-green-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #689f38; }
switch.light-green-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #558b2f; }
switch.light-green-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #33691e; }
switch.light-green-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ccff90; }
switch.light-green-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #b2ff59; }
switch.light-green-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #76ff03; }
switch.light-green-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #64dd17; }

switch.lime-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #f9fbe7; }
switch.lime-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #f0f4c3; }
switch.lime-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #e6ee9c; }
switch.lime-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #dce775; }
switch.lime-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #d4e157; }
switch.lime-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #cddc39; }
switch.lime-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #c0ca33; }
switch.lime-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #afb42b; }
switch.lime-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #9e9d24; }
switch.lime-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #827717; }
switch.lime-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #f4ff81; }
switch.lime-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #eeff41; }
switch.lime-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #c6ff00; }
switch.lime-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #aeea00; }

switch.yellow-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #fffde7; }
switch.yellow-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #fff9c4; }
switch.yellow-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #fff59d; }
switch.yellow-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #fff176; }
switch.yellow-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffee58; }
switch.yellow-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #ffeb3b; }
switch.yellow-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #fdd835; }
switch.yellow-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #fbc02d; }
switch.yellow-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #f9a825; }
switch.yellow-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #f57f17; }
switch.yellow-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffff8d; }
switch.yellow-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffff00; }
switch.yellow-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffea00; }
switch.yellow-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffd600; }

switch.amber-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #fff8e1; }
switch.amber-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffecb3; }
switch.amber-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffe082; }
switch.amber-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffd54f; }
switch.amber-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffca28; }
switch.amber-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #ffc107; }
switch.amber-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffb300; }
switch.amber-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffa000; }
switch.amber-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff8f00; }
switch.amber-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff6f00; }
switch.amber-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffe57f; }
switch.amber-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffd740; }
switch.amber-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffc400; }
switch.amber-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffab00; }

switch.orange-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #fff3e0; }
switch.orange-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffe0b2; }
switch.orange-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffcc80; }
switch.orange-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffb74d; }
switch.orange-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffa726; }
switch.orange-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #ff9800; }
switch.orange-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #fb8c00; }
switch.orange-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #f57c00; }
switch.orange-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ef6c00; }
switch.orange-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #e65100; }
switch.orange-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffd180; }
switch.orange-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ffab40; }
switch.orange-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff9100; }
switch.orange-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff6d00; }

switch.deep-orange-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #fbe9e7; }
switch.deep-orange-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffccbc; }
switch.deep-orange-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ffab91; }
switch.deep-orange-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ff8a65; }
switch.deep-orange-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #ff7043; }
switch.deep-orange-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #ff5722; }
switch.deep-orange-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #f4511e; }
switch.deep-orange-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #e64a19; }
switch.deep-orange-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #d84315; }
switch.deep-orange-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #bf360c; }
switch.deep-orange-accent-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff9e80; }
switch.deep-orange-accent-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff6e40; }
switch.deep-orange-accent-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #ff3d00; }
switch.deep-orange-accent-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #dd2c00; }

switch.brown-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #efebe9; }
switch.brown-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #d7ccc8; }
switch.brown-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #bcaaa4; }
switch.brown-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #a1887f; }
switch.brown-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #8d6e63; }
switch.brown-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #795548; }
switch.brown-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #6d4c41; }
switch.brown-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #5d4037; }
switch.brown-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #4e342e; }
switch.brown-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #3e2723; }

switch.blue-grey-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #eceff1; }
switch.blue-grey-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #cfd8dc; }
switch.blue-grey-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #b0bec5; }
switch.blue-grey-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #90a4ae; }
switch.blue-grey-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #78909c; }
switch.blue-grey-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #607d8b; }
switch.blue-grey-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #546e7a; }
switch.blue-grey-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #455a64; }
switch.blue-grey-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #37474f; }
switch.blue-grey-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #263238; }

switch.grey-lighten-5  label input[type="checkbox"]:checked +   switch.lever {background-color:  #fafafa; }
switch.grey-lighten-4  label input[type="checkbox"]:checked +   switch.lever {background-color:  #f5f5f5; }
switch.grey-lighten-3  label input[type="checkbox"]:checked +   switch.lever {background-color:  #eeeeee; }
switch.grey-lighten-2  label input[type="checkbox"]:checked +   switch.lever {background-color:  #e0e0e0; }
switch.grey-lighten-1  label input[type="checkbox"]:checked +   switch.lever {background-color:  #bdbdbd; }
switch.grey-base  label input[type="checkbox"]:checked +   switch.lever {background-color:       #9e9e9e; }
switch.grey-darken-1  label input[type="checkbox"]:checked +   switch.lever {background-color:   #757575; }
switch.grey-darken-2  label input[type="checkbox"]:checked +   switch.lever {background-color:   #616161; }
switch.grey-darken-3  label input[type="checkbox"]:checked +   switch.lever {background-color:   #424242; }
switch.grey-darken-4  label input[type="checkbox"]:checked +   switch.lever {background-color:   #212121; }

switch.black-base  label input[type="checkbox"]:checked +   switch.lever {background-color: #000; }
switch.white-base  label input[type="checkbox"]:checked +   switch.lever {background-color: #fff; }
switch.foggy-grey  label input[type="checkbox"]:checked +   switch.lever {background-color: #4f4f4f; }